$bg-color: black;
$text-color: white;

.scroll-container {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: 100;
    position: fixed;
    right:0;
    bottom:25px;
    margin-right: -50px;
    transition: .5s ease;
    opacity: 0.6;
    background-color: $bg-color;
    text-align: center;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &.active {
        margin-right: 50px;
        .scroll-text { 
            animation: jump 0.7s ease .3s 2 normal none;
        }
    }
    .scroll-text {
        font-size: 50px;
        line-height: 50px;
        display: block;
        margin: auto;
        text-decoration: none;
        color: $text-color;
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &.active {
            animation: jump 0.7s ease .3s 2 normal none;
        }
        &:hover {
            animation: jump 0.7s ease .3s infinite normal none;
        }
    }
}

@keyframes jump {
    0% {transform: translateY(0)}
    75% {transform: translateY(-0.5rem)}
    100% {transform: translateY(0)}
}